@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'Noto Sans CJK JP', 'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'Noto Sans Canadian Aboriginal', sans-serif, 'Segoe UI';
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Noto Serif CJK JP',
    'BIZ UDPMincho', 'Hiragino Mincho ProN', 'Hiragino Serif', serif, 'Segoe UI';
  --font-ipa: var(--font-serif);

  --color-violet-dark: oklch(from var(--color-violet-950) 20% 0.06 h);
  --color-side: var(--color-violet-100);
  --color-d-side: var(--color-violet-950);
  --color-main: canvas;
  --color-text: canvasText;
  --color-border: var(--color-slate-400);
  --color-d-border: var(--color-slate-500);
  --color-border-2: var(--color-slate-500);
  --color-d-border-2: var(--color-slate-400);
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-blue-400);
  --color-heading: var(--color-violet-950);
  --color-d-heading: var(--color-violet-100);

  --default-transition-duration: 110ms;

  /* case-alt, alt-1, l-with-tail, I-with-serif, G-with-spur, alt-eszet, round-quotes-commas */
  --default-font-feature-settings:
    'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-figure: 2rem;
  --spacing-min-side: 16rem;
  --spacing-max-main: 72rem;
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }

    &:focus-visible {
      @slot;
    }
  }
}

@layer base {
  :root {
    @apply max-sm:text-sm wrap-anywhere hyphens-auto;
    -webkit-tap-highlight-color: revert;
    line-break: strict;
  }

  :root,
  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    [lang^='ja'] {
      word-break: auto-phrase;
    }
  }

  body {
    @apply max-lg:flow-root lg:grid cbg-side text-text;
    grid-template-areas:
      'h h h'
      '. m .'
      'f f f';

    grid-template-columns:
      minmax(min(var(--spacing-min-side), 50%), 1fr)
      minmax(0, var(--spacing-max-main))
      minmax(min(var(--spacing-min-side), 50%), 1fr);

    grid-template-rows: auto 1fr auto;
  }

  header,
  main,
  footer {
    @apply flow-root;
  }

  header {
    grid-area: h;
  }

  main {
    @apply px-4 pb-36 bg-main min-h-lvh;
    grid-area: m;
  }

  footer {
    grid-area: f;
  }

  h1 {
    @apply text-5xl font-extralight text-balance my-12 text-center;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading;
  }

  h2,
  h3,
  h4 {
    @apply font-normal ctext-heading;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply font-semibold text-base;
  }

  :not(li) > :where(p, ul, ol, pre) {
    @apply mt-paragraph;
  }

  :not(li) > :where(ul, ol) {
    @apply ms-7;
  }

  li > :where(ul, ol) {
    @apply ms-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  a {
    @apply ctext-link hover-focus:underline;
  }

  table {
    @apply w-max max-w-full me-auto;

    :where(& > thead > tr:last-child) {
      @apply border-b cborder-border-2;
    }

    :where(& > :is(thead, tbody, tfoot) > tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(td, th) {
      @apply text-base py-1.25 px-2.5 text-center;
    }

    :where(th) {
      @apply font-semibold;
    }
  }

  .table-container:has(> table) {
    @apply overflow-auto max-w-full my-figure;
  }

  hr {
    @apply my-5 mx-auto w-full max-w-160 cborder-border-2;
  }

  .astro-code {
    @apply px-3 py-2 rounded my-figure;
  }

  strong,
  b,
  th {
    @apply font-semibold;
  }
}
