---
import '../main.css';
interface Props {
  frontmatter: {
    readonly title: string;
  };
};
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link type='icon' href='/favicon.ico' />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Inter/font-face.css'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body class='bg-slate-50 dark:bg-slate-950 flow-root'>
    <header>
      <h1
        class='text-center my-12 font-extralight dark:text-white text-4xl xl:text-5xl'
      >
        {frontmatter.title}
      </h1>
    </header>
    <div
      class='prose prose-slate dark:prose-invert prose-sm lg:prose-base w-full max-w-7xl mx-auto px-4 prose-a:hover:opacity-60 prose-headings:font-normal'
    >
      <slot />
      <div class='h-10'></div>
    </div>
  </body>
</html>
